.post-title {
    h1 {
        -webkit-text-stroke: 0.1px rgb(26, 26, 26);
    }
    button {
        &:hover {
            background-color: white;
            color: black;
        }
        svg {
            margin-left: 5px;
            width: 15px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 30px;
        background-color: transparent;
        border: 2px solid white;
        font-family: 'RixInooAriDuriR';
        color: white;
        border-radius: 20px;
        cursor: pointer;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-viewer {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}

.post-viewer {
    margin-bottom: 50px;
}

.post-date {
    p {
        margin: 0;
        margin-left: 10px;
    }
    display: flex;
    justify-content: end;
    align-items: center;
}

.post-etc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.hashtag-container {
    a {
        &::before {
            content: "#";
        }
        margin: 0 5px;
        color: rgb(137, 189, 224);
        background-color: rgb(59, 59, 59);
        padding: 5px 10px;
        border-radius: 10px;
        margin-bottom: 5px;
    }
    width: 50%;
    flex-wrap: wrap;
    display: flex;
}

@media screen and (max-width : 768px) {
    .post-title h1 {
        font-size: 30px;
    }
}